h2 Add New Post
hr
div(class='row')
  div(class='col-sm-8 blog-main')
    div(ng-show="form.formError")
      div(class='alert alert-danger' role='alert' ng-repeat="err in form.error")
        div(class='container')
          div(class='alert-icon')
            i(class='now-ui-icons travel_info')
          span(ng-bind-html="err.message | unsafe")

    div(class='form-group')
      label(for='title') Title:
      input(class='form-control' placeholder='Enter post title here...' ng-model='form.title', name='title')

    div(class='form-group')
      label(for='title') Body:
      textarea(class='form-control' placeholder='Enter the description here...' ng-model='form.body', cols='10', rows='3')
    p
      button(class='btn btn-info btn-round pad1' ng-click='submitPost()') Submit Post
      button(class='btn btn-normal btn-round' ng-click='doCancel()') Cancel
