h2 Delete Post
hr
div(class='row')
  div(class='col-sm-8 blog-main')
    div(class='blog-post')
      h2(class='blog-post-title') {{post.title}}
      p(class='blog-post-meta') {{post.created_at}}
      div {{post.body}}

      div(class='actionButton')
        p
          | Are you sure you want to delete this post?
          br
          button(class='btn btn-danger btn-round pad1' ng-click='deletePost()') Yes
          button(class='btn btn-normal btn-round' ng-click='doCancel()') Cancel
