block loginForm
  h2 Sign-up
  div(class='row')
    div(class='col-sm-8 blog-main')
      div(ng-show="errors")
        div(class='alert alert-danger' role='alert')
          span {{errors}}

      div(class='form-group')
        label(for='username') Email:
        input(class='form-control' placeholder='Email' ng-model='data.username', name='username')

      div(class='form-group')
        label(for='fullname') FullName:
        input(class='form-control' placeholder='Full Name' ng-model='data.fullname', name='fullname')

      div(class='form-group')
        label(for='password') Password:
        input(class='form-control' placeholder='' ng-model='data.password', name='password' type='password')

      div(class='form-group')
        label(for='passwordConfirmation') Retype Password:
        input(class='form-control' placeholder='' ng-model='data.passwordConfirmation', name='passwordConfirmation' type='password')

      p
        button(class='btn btn-info btn-round' ng-click='doSignup()') Sign-up
