extend layout

block masterHeader
  div(class='blog-masthead')
    div(class='container')
      nav(ng-if="!globalUser" class='nav blog-nav')
        a(class='nav-link' href='#/') Home
        a(class='nav-link' href='#/login') Login

      nav(ng-if="globalUser" class='nav blog-nav')
          a(class='nav-link' href='#/') Home
          a(class='nav-link' href='#/add') Add New Post
          a(class='nav-link' href='#/logout') Logout

block header
  div(class='blog-header')
    div(class='container')
      h1(class='blog-title')
        img(src="images/angular1r2xxx.png")
      p(class='lead blog-description') !{description}

block body
  div(class='container')
    div(class='row')
      div(class='col-sm-12 blog-main')
        div(ng-view)

      div(class='col-sm-3 offset-sm-1 blog-sidebar')

block footer
  footer(class='blog-footer')
    p
      a(href='/#container') Back to Top
