doctype
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="blog")
    block body

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/flash.js')
    script(src='javascripts/services.js')
    script(src='javascripts/controllers.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/directives.js')